build --incompatible_strict_action_env
build --incompatible_require_linker_input_cc_api
build --incompatible_enable_cc_toolchain_resolution
# build --subcommands 
build --verbose_failures --test_output=streamed
build --action_env=CC=clang-18

# common --noenable_bzlmod
common --enable_workspace=yes --enable_bzlmod=no
build --features cpp_modules
build --experimental_cpp_modules